body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #dde5f4;
    
}
.sc-1{
    background-color: #008DDA;
    height: 10vh;
    width: 100vw;
    display: flex;
    position: fixed;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
    font-weight: 600;
}
nav ul{
display: flex;
justify-content: center;
align-items: center;
list-style-type: none;
}
li a{
    color: white;
    text-decoration: none;
    margin-left: 1vw;
    transition: 0.3s;
}
.logo a{
    cursor:default;
}
.logo{
    margin-left: 200px;
}
.text{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}


li a:hover{
    color: #FFC700;
    transform: 30s;
}

footer {
    background-color: #008DDA;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 15px;
}

/* Menu */

#menu{
    width: 0px;
    height: 100%;
    overflow-x: hidden;
    background-color: #008DDA;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
    transition: 0.3s;
}

#menu ul li a{
    color: white;
    font-size: 24px;
    transition: 0.3s;
}

#menu ul li {
    padding-bottom: 20px;
    list-style-type: none;
}

#menu ul li a:hover{
    color: gray;
    transition: 0.3s;
}

.closemenu{
    position: absolute;
    top:0;
    right: 25px;
    font-size: 36px !important;
}

#menu .x a:hover{
    color: red;
    cursor:alias ;
}

/* menu */

/* ------------------------------------------------------------ */
.products {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}

.product {
    margin: 70px 0px 30px 80px;
    padding-left:40px;
    text-align: center;
}

.cart {
    background: #008DDA;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    transition: 0.3s;
}
.cart:hover{
background-color: forestgreen;
}

.products img:hover{
scale: 1.5;
}

#slideshow-container {
    width:60%;
    margin: auto;
}

#slideshow {
    width:100%;
}